<div class="header clearfix">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Code Academy</a>
    <ul class="nav nav-pills float-right mb-1">
      <li class="nav-item">
      <% if @home_selected_in_nav %>
        <a class="nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
      <% else %>
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      <% end %>
      </li>
      <li class="nav-item">
        <% if @about_selected_in_nav %>
          <a class="nav-link active" href="/about" role="button">About</a>
        <% else %>
          <a class="nav-link" href="/about" role="button">About</a>
        <% end %>
      </li>
      <li class="nav-item">
        <% if @obras_list_selected_in_nav %>
          <a class="nav-link active" href="/obras" role="button">Obras</a>
        <% else %>
          <a class="nav-link" href="/obras" role="button">Obras</a>
        <% end %>
      </li>
    </ul>
  </nav>
</div>