<div class="container">
  <div class="row">
    <h3>Created by:</h3>
  </div>
  <div class="row">
    <div class="col">
      <img class="pic" src="images/pics/nico.png" alt="Nicolas Nappe Profile Image">
      <p class="text-center">Nicolas Nappe</p>
    </div>
    <div class="col">
      <img class="pic" src="images/pics/diego.png" alt="Diego Tabares Profile Image">
      <p class="text-center">Diego Tabares</p>
    </div>
    <div class="col">
      <img class="pic" src="images/pics/ivan.png" alt="Ivan Kuzel Profile Image">
      <p class="text-center">Ivan Kuzel</p>
    </div>
  </div>
</div>