<div class="card">
  <div class="card-body">
    <h5 class="card-title">student</h5>
    <p class="card-text">Student info successfully sent</p>
    <ul>
      <li><strong>Name: </strong> <%= @student.name %></li>
      <li><strong>Email: </strong> <%= @student.email %></li>
      <li><strong>Address: </strong> <%= @student.address %></li>
      <li><strong>Site: </strong> <%= @student.site %></li>
    </ul>
    <a class="btn btn-success" href="/">Home</a>
  </div>
</div>